name: Deploy to fly

# This workflow is triggered manually from the GitHub website.
# To run it, click the "Actions" tab on the repo page.
on:
  workflow_dispatch:

env:
  FLY_API_TOKEN: ${{ secrets.FLY_API_TOKEN }}

jobs:
  push_to_fly:
    runs-on: floco-runner
    steps:
      - name: Check out code
        uses: actions/checkout@v3

      - name: Setup flyctl
        uses: superfly/flyctl-actions/setup-flyctl@master

      - name: Verify flyctl installation
        run: |
          which flyctl
          flyctl version

      - name: Install Cog
        run: |
          sudo curl -o /usr/local/bin/cog -L https://github.com/replicate/cog/releases/download/v0.16.9/cog_Linux_x86_64
          sudo chmod +x /usr/local/bin/cog
          cog --version

      - name: Download model weights and install flash-attn
        run: |
          cog run bash scripts/complete_setup.sh

      - name: Auth Fly
        run: |
          flyctl auth docker

      - name: Push image to fly
        run: |
          cog push registry.fly.io/qwen3-vl-embedding:latest

      - name: Deploy to fly
        run: |
          flyctl deploy --remote-only