name: Build and push GCP image

# This workflow is triggered manually from the GitHub website.
# To run it, click the "Actions" tab on the repo page.
on:
  workflow_dispatch:

env:
  IMAGE_NAME: 'qwen3-vl-embedding'
  PROJECT_ID: 'eastern-lodge-477215-d7'
  AR_REPO_LOCATION: 'us-east1'
  AR_URL: 'projects/eastern-lodge-477215-d7/locations/us-east1/repositories/gpu-images'
  SERVICE_ACCOUNT: 'github-actions-service-account@eastern-lodge-477215-d7.iam.gserviceaccount.com' 
  WORKLOAD_IDENTITY_PROVIDER: 'projects/479764873139/locations/global/workloadIdentityPools/flower-dev-pool/providers/github-actions-provider'

jobs:
  push_to_ar:
    permissions:
      contents: 'read'
      id-token: 'write'

    runs-on: floco-runner
    steps:
      - name: Check out code
        uses: actions/checkout@v3

      - name: Google Auth
        id: auth
        uses: 'google-github-actions/auth@v2'
        with:
          token_format: 'access_token'
          project_id: ${{ env.PROJECT_ID }}
          service_account: ${{ env.SERVICE_ACCOUNT }}
          workload_identity_provider: ${{ env.WORKLOAD_IDENTITY_PROVIDER }}

      - name: Docker Auth
        id: docker-auth
        uses: 'docker/login-action@v1'
        with:
          username: 'oauth2accesstoken'
          password: '${{ steps.auth.outputs.access_token }}'
          registry: '${{ env.AR_REPO_LOCATION }}-docker.pkg.dev'

      - name: Install Cog
        run: |
          sudo curl -o /usr/local/bin/cog -L https://github.com/replicate/cog/releases/download/v0.16.9/cog_Linux_x86_64
          sudo chmod +x /usr/local/bin/cog
          cog --version

      - name: Build Cog image
        run: |
          cog build

      - name: Download model weights and install flash-attn
        run: |
          cog run bash scripts/complete_setup.sh

      - name: Push image to AR
        run: |
          cog push "${{ env.AR_URL }}/${{ env.IMAGE_NAME }}:${{ github.sha }}"